<?xml version="1.0"?>
<config>
    <modules>
        <Eliz_Customconfig>
            <version>1.0.1</version>
        </Eliz_Customconfig>
    </modules>
<frontend>
        <routers>
            <products>
                <use>standard</use>
                <args>
                    <module>Eliz_Customconfig</module>
                    <frontName>products</frontName>
                </args>
            </products>
        </routers>
    <translate>
        <modules>
            <Eliz_Customconfig>
                <files>
                    <default>Eliz_Customconfig.csv</default>
                </files>
            </Eliz_Customconfig>
        </modules>
    </translate>
    <layout>
        <updates>
            <customconfig>
                <file>local.xml</file>
            </customconfig>
        </updates>
    </layout>
    </frontend>
    <global>
        <helpers>
            <customconfig>
                <class>Eliz_Customconfig_Helper</class>
            </customconfig>
        </helpers>
        <models>
             <customconfig>
                <class>Eliz_Customconfig_Model</class>
                 <resourceModel>customconfig_resource</resourceModel>
             </customconfig>
                 <customconfig_resource>
                     <class>Eliz_Customconfig_Model_Resource</class>
                     <entities>
                         <products>
                             <table>products</table>
                         </products>
                     </entities>
                 </customconfig_resource>
        </models>
        <resources>
            <customconfig_setup>
                <setup>
                    <module>Eliz_Customconfig</module>
                    <class>Eliz_Customconfig_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customconfig_setup>
            <customconfig_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customconfig_write>
            <customconfig_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customconfig_read>
        </resources>
	<blocks>
	  <customconfig>
	   <class>Eliz_Customconfig_Block</class>
	  </customconfig>
	</blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Eliz_Customconfig>
                    <files>
                        <default>Eliz_Customconfig.csv</default>
                    </files>
                </Eliz_Customconfig>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customconfig_options>
                                            <title>Show Products:</title>
                                        </customconfig_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
